body{background-color: #FDFCEF}
h1{color: #FE18ED; font-family: DejaVu Sans Mono, monospace; font-size: 80px; font-weight: 800; font-variant: small-caps; font-stretch: extra-expanded; text-align: center}
p{color: #434342; font-family: Noto Sans, sans-serif; font-size: 20px; font-weight: bold;padding-left: 40pt; padding-right: 40pt}
img{text-align: center}